name: Java CI with Gradle

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "**/*.kt"
      - ".github/workflows/ktlint.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set execute permission on Gradle script
        run: chmod +x ./gradlew
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
          ./gradlew build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v2

      - name: "Set up JDK 17"
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: "Set execute permission on Gradle script"
        run: chmod +x ./gradlew

      - name: "Build with Gradle"
        run: ./gradlew build

#      - name: "Run Unit Tests"
#       run: ./gradlew test 

      - name: "Run UI Tests"
        run: ./gradlew connectedAndroidTest
