name: Java CI with Gradle

on:
  push:
    branches:
      - Pipeline_jetztgehtalles
  pull_request:
    branches:
      - Pipeline_jetztgehtalles
    paths:
      - "**/*.kt"
      - ".github/workflows/ktlint.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set execute permission on Gradle script
        run: chmod +x ./gradlew
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
          ./gradlew build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v2

      - name: "Set up JDK 17"
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: "Set execute permission on Gradle script"
        run: chmod +x ./gradlew

      - name: "Start Emulator"
        run: |
          echo "no" | avdmanager create avd --force --name emulator --abi google_apis/x86_64 --package 'system-images;android-33;google_apis;x86_64'
          emulator -avd emulator -no-audio -no-window -no-boot-anim -accel on -gpu off &
          android-wait-for-emulator
          adb devices

      - name: "Wait for Emulator"
        run: android-wait-for-emulator

      - name: "Run UI Tests"
        run: ./gradlew connectedAndroidTest
