name: Java CI with Gradle

on:
  push:
    branches:
      - Pipeline_jetztgehtalles
  pull_request:
    branches:
      - Pipeline_jetztgehtalles
    paths:
    - "*/.kt"
    - ".github/workflows/ktlint.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set execute permission on Gradle script
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

  test:
    runs-on: macos-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v2

      - name: "Set up JDK 17"
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: "Set execute permission on Gradle script"
        run: chmod +x ./gradlew

      - name: "Setup Android Emulator"
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: echo "Emulator setup complete"

      - name: "Run UI Tests"
        run: ./gradlew connectedAndroidTest
