name: Java CI with Gradle

on:
  push:
    branches:
      - pipeline
  pull_request:
    branches:
      - pipeline
    paths:
      - "**/*.kt"
      - ".github/workflows/ktlint.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set execute permission on Gradle script
        run: chmod +x /home/runner/work/SE3-Project/SE3-Project/gradlew
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: build

  ktlint:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout"
        uses: actions/checkout@v2

      - name: "ktlint"
        uses: "vroy/gha-kotlin-linter@v1"
        with:
          corrections: true
